@font-face {
    font-family: "San Francisco";
    font-weight: 400;
    src: url("../fonts/SFProDisplay-Regular.woff2") format("woff2"),
    url("../fonts/SFProDisplay-Regular.woff") format("woff");
    font-display: swap;
}

@font-face {
    font-family: "San Francisco";
    font-weight: 300;
    src: url("../fonts/SFProDisplay-Thin.woff2") format("woff2"),
    url("../fonts/SFProDisplay-Thin.woff") format("woff");
    font-display: swap;
}

@font-face {
    font-family: "San Francisco";
    font-weight: 600;
    src: url("../fonts/SFProDisplay-Semibold.woff2") format("woff2"),
    url("../fonts/SFProDisplay-Semibold.woff") format("woff");
    font-display: swap;
}

@font-face {
    font-family: "San Francisco";
    font-weight: 700;
    src: url("../fonts/SFProDisplay-Bold.woff2") format("woff2"),
    url("../fonts/SFProDisplay-Bold.woff") format("woff");
    font-display: swap;
}


html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    min-width: 320px;
    margin: 0;
    background-color: #fff; /* под проект */
    font-family: "San Francisco", Arial, sans-serif; /* в "" свой шрифт под проект*/

    font-size: 16px;
    font-weight: 400;
    color: black;
    line-height: 1;
}

button, input {
    font: inherit;
}

button {
    cursor: pointer;
}

img {
    max-width: 100%;
    height: auto;
}

a {
    text-decoration: none;
    color: inherit;
}

ul {
    list-style: none;
}

h1, h2, h3, p, ul {
    padding: 0;
    margin: 0;
}

.button {
    background-color: transparent;
    border: 1px solid black;
    border-radius: 15px;
    padding: 8px 20px;
    font-weight: bold;
    font-size: 18px;
    line-height: 32px;
}

.button_buy {
    background-color: #FE3B3B;
    border: 1px solid #FE3B3B;
    color: #FFFFFF;
}

.main-title {
    font-weight: 700;
    font-size: 24px;
    margin-bottom: 40px;
}


.container {
    max-width: 950px;
    margin: 0 auto;
    padding: 30px 15px;
}

.visually-hidden {
    position: absolute !important;
    clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
    clip: rect(1px, 1px, 1px, 1px);
    padding: 0 !important;
    border: 0 !important;
    height: 1px !important;
    width: 1px !important;
    overflow: hidden;
}

/* при работе с float */

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}



.characteristics__list {
    max-width: 920px;
    background-color: #fff;
}

.characteristics__item {
    margin-bottom: 15px;
}

.characteristics__title {
    position: relative;
    width: 100%;
    padding: 12px 30px;
    background-color: #FF0000;
    text-align: left;
    color: #fff;
}

.characteristics__title:after {
    content: '';
    position: absolute;
    right: 15px;
    bottom: 15px;
    width: 17px;
    height: 17px;
    border: 1px solid;
    border-color: transparent #000 #000 transparent;
    transform: rotate(45deg);
    transition: border-color 0.5s ease-in-out, bottom 0.5s ease-in-out;
}

.characteristics__title.active:after {
    border-color: #000 transparent transparent #000;
    bottom: 5px;
}

.characteristics__description {
    margin-top: -2px;
    border: 1px solid;
    border-color: transparent #000 #000 #000;
    height: 0;
    overflow: hidden;
    transition: height 0.5s ease-in-out;
}

.characteristics__title:focus {
    outline:none;
}

.characteristics__description.active {
    height: auto;
}

.characteristics__item-description {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.characteristics__item-description {
    padding: 15px 0;
}

.characteristics__item-description p {
    margin: 0 15px;
}

.characteristics__item-description p:last-child {
    text-align: right;
}

.characteristics__item-description:first-child {
    padding-top: 30px;
}

.characteristics__item-description:last-child {
    padding-bottom: 30px;
}






